<!-- Select 2 CSS -->
<link rel="stylesheet" href="/css/select2.min.css">
<!-- Date Picker CSS -->
<link rel="stylesheet" href="/css/datepicker.min.css">
<% layout('layouts/admin/boilerplate') %>

    <!-- Sidebar Area End Here -->
    <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            <h3>Grades</h3>
            <ul>
                <li>
                    <a href="/<%= domainName %>/admin">Home</a>
                </li>
                <li>Add New Class</li>
            </ul>
        </div>
        <!-- Breadcubs Area End Here -->
        <!-- Add Class Area Start Here -->
        <div class="card height-auto">
            <div class="card-body">
                <!-- Select Class Type Modal -->
                <div class="modal fade" id="grade-type" tabindex="-1" role="dialog" aria-hidden="true"
                    style="display: none;">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <%- include('../partials/flash') %>
                                    <div class="col-12 d-flex flex-wrap justify-content-center">
                                        <div class="col-12 col-md-6 border-right">
                                            <div>
                                                <h4>
                                                    Self-guided Class
                                                </h4>
                                                <p>
                                                    This class has courses but
                                                    no online classes or interaction with teacher. This means that
                                                    students
                                                    will only have access to
                                                    course materials such as readings, and videos. Students can work
                                                    through the course materials at their own pace.
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <button type="button"
                                                    class="btn-fill-xl radius-30 text-light shadow-violet-blue bg-violet-blue"
                                                    id="staticClassBtn">Create</button>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div>
                                                <h4>
                                                    Interactive Class
                                                </h4>
                                                <p>
                                                    This class has online
                                                    courses where students can interact with the teacher. This means
                                                    that
                                                    there will be scheduled live online classes where the teacher will
                                                    teach
                                                    and students can ask questions and participate in discussions.
                                                    Students
                                                    will also have access to course materials and assignments online,
                                                    but
                                                    there will be additional opportunities for interaction with the
                                                    teacher
                                                    during the live classes.
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <button type="button"
                                                    class="btn-fill-lmd radius-30 text-light shadow-true-v bg-true-v"
                                                    id="interactiveClassBtn">Create</button>
                                            </div>

                                        </div>
                                    </div>
                            </div>
                            <div class="modal-footer d-none">
                                <button id="closeModal" type="button" class="footer-btn bg-dark-low"
                                    data-dismiss="modal">Close</button>
                                <button type="button" class="footer-btn bg-linkedin"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="modal-trigger d-none" data-toggle="modal" data-target="#grade-type">
                    Select Class Type
                </button>

                <!-- interactive class form -->
                <form method="post" action="/<%= domainName %>/admin/add-class" class="new-added-form d-none"
                    id="interactiveClass">
                    <input type="text" name="classType" value="interactive" id="" class="d-none">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Class Level</label>
                            <select required class="select2" name="classLevel" id="classLevel">
                                <option value="">--Select Class Level--</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Section</label>
                            <select required class="select2" name="section">
                                <option value="">--Please Select--</option>
                                <option value="Pink">Pink</option>
                                <option value="Blue">Blue</option>
                                <option value="Bird">Bird</option>
                                <option value="Rose">Rose</option>
                                <option value="Red">Red</option>
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Class ID No</label>
                            <input type="number" name="classID" placeholder="Class Id" class="form-control">
                        </div>
                        <div class="col-12 p-2 form-group d-none" style="background-color: beige;" id="relatedStudents">

                            <div class="table-responsive">
                                <label>Add Students( <small>The following students have applied for class <span
                                            id="selectedLabel"></span></small>
                                    )</label>
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                    <table class="table display data-table text-nowrap dataTable no-footer"
                                        id="DataTables_Table_0" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" rowspan="1" colspan="1" aria-label="
                                                    
                                                        
                                                        Roll
                                                    
                                                " style="width: 85.8px;">
                                                    <div class="">
                                                        <label class="">Roll</label>
                                                    </div>
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Name: activate to sort column ascending"
                                                    style="width: 80.6875px;">Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 51.625px;">Gender</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Class: activate to sort column ascending"
                                                    style="width: 39.7125px;">Applied for Class</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Address: activate to sort column ascending"
                                                    style="width: 133.8px;">Address</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Date Of Birth: activate to sort column ascending"
                                                    style="width: 92.1125px;">Date Of Birth</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="E-mail: activate to sort column ascending"
                                                    style="width: 166.075px;">E-mail</th>
                                            </tr>
                                        </thead>
                                        <tbody id="studentsTable">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="courseWrapper" class="bg-dark mb-5">



                        </div>
                    </div>

                    <div class="col-12">

                        <button type="button" id="addSubject" class="btn-fill-lg bg-blue-dark btn-hover-bluedark">Add
                            Subject</button>
                    </div>
                    <div class="col-12">
                        <div class="col-12 form-group mg-t-8 d-flex justify-content-end">
                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Add
                                Class</button>
                        </div>

                    </div>
                </form>


                <!-- statc grade form -->
                <form class="new-added-form d-none" id="staticClass">
                    <input type="text" name="classType" value="static" id="" class="d-none">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Teacher Name *</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>ID No</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Gender *</label>
                            <select class="select2">
                                <option value="">Please Select</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Others</option>
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Class</label>
                            <select class="select2">
                                <option value="">Please Select</option>
                                <option value="1">Play</option>
                                <option value="2">Nursery</option>
                                <option value="3">One</option>
                                <option value="3">Two</option>
                                <option value="3">Three</option>
                                <option value="3">Four</option>
                                <option value="3">Five</option>
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Subject *</label>
                            <select class="select2">
                                <option value="">Please Select*</option>
                                <option value="1">English</option>
                                <option value="2">Mathmethics</option>
                                <option value="3">Physics</option>
                                <option value="3">Chemestry</option>
                                <option value="3">Biology</option>
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Section *</label>
                            <select class="select2">
                                <option value="">Please Select *</option>
                                <option value="1">Pink</option>
                                <option value="2">Blue</option>
                                <option value="3">Bird</option>
                                <option value="3">Rose</option>
                                <option value="3">Red</option>
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Time *</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Date*</label>
                            <input type="text" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                                data-position="bottom right">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Phone *</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>E-Mail *</label>
                            <input type="email" placeholder="" class="form-control">
                        </div>
                        <div class="col-md-6 form-group"></div>
                        <div class="col-12 form-group mg-t-8">
                            <button type="submit"
                                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- show modal for selection -->
    <script>
        setTimeout(() => {
            document.querySelector('.modal-trigger').click()
        }, 100);
    </script>

    <!-- Render selection -->
    <script>
        // for interactive
        document.getElementById('interactiveClassBtn').addEventListener('click', function (evt) {
            document.getElementById('staticClass').remove();
            document.getElementById('closeModal').click();
            document.getElementById('interactiveClass').classList.remove('d-none');
        })
        // for static
        document.getElementById('staticClassBtn').addEventListener('click', function (evt) {
            document.getElementById('interactiveClass').remove();
            document.getElementById('closeModal').click();
            document.getElementById('staticClass').classList.remove('d-none');
        })
    </script>

    <script>
        let courseCount = 0;
        document.getElementById('addSubject').addEventListener('click', async function (evt) {
            document.getElementById('courseWrapper').insertAdjacentHTML('beforeend', '<div class="course border shadow mb-5 bg-ash"> <div class="col-12 d-flex flex-wrap mb-5"> <div class="col-12 col-lg-4"> <div class="w-100 form-group"> <label class="h3 p-4"> <u class="subjectTitle' + (++courseCount) + '"> Subject#: ' + (courseCount) + ' </u></label> <select class="coursesSelect' + (courseCount) + '" onchange="getTeacher(this, ' + courseCount + ')" name="subjects[subject' + courseCount + '][name]"> <option value="">--Please Select Subject name--</option> <option value="math">Math</option> <option value="english">English</option> <option value="history">History</option> <option value="science">Science</option> <option value="art">Art</option> <option value="music">Music</option> <option value="pushto">Pushto</option> <option value="dari">Dari</option> <option value="biology">Biology</option> <option value="physics">Physics</option> <option value="social Studies">Social Studies</option> <option value="religious Education">Religious Education </option> <option value="business Studies">Business Studies</option> <option value="computer Science">Computer Science</option> <option value="skills Education">Skills Education</option> <option value="foreign Language">Foreign Language</option> </select> </div> </div> </div> <div class="row p-5 justify-content-between mb-5 form-group" style="background-color:aliceblue;"> <h6>Select Time of this course</h6> <div class="col-12 d-flex flex-wrap"> <div class="n-chk col-2 mb-4 p-1"> <label class="new-control new-checkbox new-checkbox-text checkbox-primary"> <input type="radio" onchange="getTeacherByCourseAndTime(this, ' + courseCount + ')" name="subjects[subject' + courseCount + '][slot]" class="new-control-input" value="08:15"> <span class="new-control-indicator"></span> <span class="new-chk-content">08:15 am</span> </label> </div> <div class="n-chk col-2 mb-4 p-1"> <label class="new-control new-checkbox new-checkbox-text checkbox-primary"> <input type="radio" onchange="getTeacherByCourseAndTime(this, ' + courseCount + ')" name="subjects[subject' + courseCount + '][slot]" class="new-control-input" value="09:15"> <span class="new-control-indicator"></span> <span class="new-chk-content">09:15 am</span> </label> </div> <div class="n-chk col-2 mb-4 p-1"> <label class="new-control new-checkbox new-checkbox-text checkbox-primary"> <input type="radio" onchange="getTeacherByCourseAndTime(this, ' + courseCount + ')" name="subjects[subject' + courseCount + '][slot]" class="new-control-input" value="10:15"> <span class="new-control-indicator"></span> <span class="new-chk-content">10:15 am</span> </label> </div> <div class="n-chk col-2 mb-4 p-1"> <label class="new-control new-checkbox new-checkbox-text checkbox-primary"> <input type="radio" onchange="getTeacherByCourseAndTime(this, ' + courseCount + ')" name="subjects[subject' + courseCount + '][slot]" class="new-control-input" value="11:15"> <span class="new-control-indicator"></span> <span class="new-chk-content">11:15 am</span> </label> </div> <div class="n-chk col-2 mb-4 p-1"> <label class="new-control new-checkbox new-checkbox-text checkbox-primary"> <input type="radio" onchange="getTeacherByCourseAndTime(this, ' + courseCount + ')" name="subjects[subject' + courseCount + '][slot]" class="new-control-input" value="12:15"> <span class="new-control-indicator"></span> <span class="new-chk-content">12:15 pm</span> </label> </div> <div class="n-chk col-2 mb-4 p-1"> <label class="new-control new-checkbox new-checkbox-text checkbox-primary"> <input type="radio" onchange="getTeacherByCourseAndTime(this, ' + courseCount + ')" name="subjects[subject' + courseCount + '][slot]" class="new-control-input" value="13:15"> <span class="new-control-indicator"></span> <span class="new-chk-content">01:15 pm</span> </label> </div> <div class="n-chk col-2 mb-4 p-1"> <label class="new-control new-checkbox new-checkbox-text checkbox-primary"> <input type="radio" onchange="getTeacherByCourseAndTime(this, ' + courseCount + ')" name="subjects[subject' + courseCount + '][slot]" class="new-control-input" value="14:15"> <span class="new-control-indicator"></span> <span class="new-chk-content">02:15 pm</span> </label> </div> <div class="n-chk col-2 mb-4 p-1"> <label class="new-control new-checkbox new-checkbox-text checkbox-primary"> <input type="radio" onchange="getTeacherByCourseAndTime(this, ' + courseCount + ')" name="subjects[subject' + courseCount + '][slot]" class="new-control-input" value="15:15"> <span class="new-control-indicator"></span> <span class="new-chk-content">03:15 pm</span> </label> </div> <div class="n-chk col-2 mb-4 p-1"> <label class="new-control new-checkbox new-checkbox-text checkbox-primary"> <input type="radio" onchange="getTeacherByCourseAndTime(this, ' + courseCount + ')" name="subjects[subject' + courseCount + '][slot]" class="new-control-input" value="16:15"> <span class="new-control-indicator"></span> <span class="new-chk-content">04:15 pm</span> </label> </div> <div class="n-chk col-2 mb-4 p-1"> <label class="new-control new-checkbox new-checkbox-text checkbox-primary"> <input type="radio" onchange="getTeacherByCourseAndTime(this, ' + courseCount + ')" name="subjects[subject' + courseCount + '][slot]" class="new-control-input" value="17:15"> <span class="new-control-indicator"></span> <span class="new-chk-content">05:15 pm</span> </label> </div> <div class="n-chk col-2 mb-4 p-1"> <label class="new-control new-checkbox new-checkbox-text checkbox-primary"> <input type="radio" onchange="getTeacherByCourseAndTime(this, ' + courseCount + ')" name="subjects[subject' + courseCount + '][slot]" class="new-control-input" value="18:15"> <span class="new-control-indicator"></span> <span class="new-chk-content">06:15 pm</span> </label> </div> <div class="n-chk col-2 mb-4 p-1"> <label class="new-control new-checkbox new-checkbox-text checkbox-primary"> <input type="radio" onchange="getTeacherByCourseAndTime(this, ' + courseCount + ')" name="subjects[subject' + courseCount + '][slot]" class="new-control-input" value="19:15"> <span class="new-control-indicator"></span> <span class="new-chk-content">07:15 pm</span> </label> </div> <div class="n-chk col-2 mb-4 p-1"> <label class="new-control new-checkbox new-checkbox-text checkbox-primary"> <input type="radio" onchange="getTeacherByCourseAndTime(this, ' + courseCount + ')" name="subjects[subject' + courseCount + '][slot]" class="new-control-input" value="20:15"> <span class="new-control-indicator"></span> <span class="new-chk-content">08:15 pm</span> </label> </div> </div> </div> <div class="col-12 p-2 form-group d-none" style="background-color: beige;" id="relatedTeachers' + (courseCount) + '"> <div class="table-responsive"> <label>Add Teacher( <small>The following Teachers are elligible for "<span id="selectedLabelTeacher"></span>" class <span id="timeLabelWrap' + courseCount + '" class="d-none">in the selected time slot "<span id="timeSlot"></span>"</span></small> )</label> <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer"> <table class="table display data-table text-nowrap dataTable no-footer" id="DataTables_Table_0" role="grid"> <thead> <tr role="row"> <th class="sorting_asc" rowspan="1" colspan="1" aria-label=" Roll " style="width: 85.8px;"> <div class=""> <label class="">Roll</label> </div> </th> <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 80.6875px;">Name</th> <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Gender: activate to sort column ascending" style="width: 51.625px;">Gender</th> <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Address: activate to sort column ascending" style="width: 133.8px;">Address</th> <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="E-mail: activate to sort column ascending" style="width: 166.075px;">E-mail</th> </tr> </thead> <tbody id="teachersTable' + courseCount + '"> </tbody> </table> </div> </div> </div> </div>')
        })
    </script>
    <!-- Check for students of particular class level -->
    <script>
        setTimeout(() => {

            document.getElementById('classLevel').onchange = async function (evt) {
                document.getElementById('selectedLabel').innerHTML = this.value;
                // clear students table
                let tbody = document.getElementById('studentsTable');
                while (tbody.firstChild) {
                    tbody.removeChild(tbody.firstChild);
                }
                // look for students of the selected grade
                try {
                    let res = await fetch('/' + document.querySelector('body').getAttribute('data-domainName') + '/admin/get-student/with-grade/' + this.value);
                    res = await res.json();
                    if (res.length) {
                        document.getElementById('relatedStudents').classList.remove('d-none');
                        for (let student of res) {
                            tbody.innerHTML += '<tr role="row" class="odd"> <td class="sorting_1 p-0 pl-4"> <label class="new-control new-checkbox new-checkbox-text checkbox-primary d-flex align-items-center m-0"> <input type="checkbox" name="students[id]" class="new-control-input" value="' + student._id + '"> <span class="new-control-indicator"></span> <span class="new-chk-content">#' + student._id + '</span> </label> </td> <td>' + student.userInfo.fullName + '</td> <td>' + student.gender + '</td> <td>' + student.grade + '</td> <td>' + student.contact.address.streetAddress + '</td> <td>' + student.DOB[0] + '/' + student.DOB[1] + '/' + student.DOB[2] + '</td> <td>' + student.userInfo.email + '</td> </tr>'
                        }
                    } else {
                        document.getElementById('relatedStudents').classList.add('d-none');
                    }
                } catch (err) {
                    console.log(err);
                }
            }

        }, 100);
    </script>

    <!-- Check for Teachers of particular subject -->
    <script>
        function createTeacherTable(teachers, wrapper, subNo) {
            if (teachers.length) {
                document.getElementById('relatedTeachers' + subNo).classList.remove('d-none');
                for (let teacher of teachers) {
                    wrapper.insertAdjacentHTML('beforeend', '<tr role="row" class="odd"> <td class="sorting_1 p-0 pl-4"> <label class="new-control new-checkbox new-checkbox-text checkbox-primary d-flex align-items-center m-0"> <input type="radio" name="subjects[subject' + subNo + '][teacher]" class="new- control - input" value="' + teacher._id + '"> <span class="new- control - indicator"></span> <span class="new- chk - content">#' + teacher._id + '</span> </label> </td> <td>' + teacher.userInfo.fullName + '</td> <td>' + teacher.gender + '</td> <td>' + teacher.address + '</td> <td>' + teacher.userInfo.email + '</td> </tr>')
                }
            } else {
                document.getElementById('relatedTeachers' + subNo).classList.add('d-none');
                console.log('no teacher with the selected subject found');
            }
        }


        async function getTeacherByCourse(subNo) {
            // clear teachers table
            let tbody = document.getElementById('teachersTable' + courseCount);
            while (tbody.firstChild) {
                tbody.removeChild(tbody.firstChild);
            }
            // look for teachers of the selected grade
            try {
                let res = await fetch('/' + document.querySelector('body').getAttribute('data-domainName') + '/admin/get-teacher/' + document.querySelector('.coursesSelect' + courseCount).value + '/null/null');
                res = await res.json();
                createTeacherTable(res, tbody, subNo);
            } catch (err) {
                console.log(err);
            }
        }


        async function getTeacherByCourseAndSlot(subNo) {
            if (document.querySelector('.coursesSelect' + courseCount).value && document.querySelector('input[name="subjects[subject' + subNo + '][slot]"]:checked').value != '') {
                document.getElementById('selectedLabelTeacher').innerHTML = document.querySelector('.coursesSelect' + courseCount).value;
                document.getElementById('timeSlot').innerHTML = document.querySelector('input[name="subjects[subject' + subNo + '][slot]"]:checked').value
                document.getElementById('timeLabelWrap' + courseCount).classList.remove('d-none');

                // clear teachers table
                let tbody = document.getElementById('teachersTable' + courseCount);
                while (tbody.firstChild) {
                    tbody.removeChild(tbody.firstChild);
                }
                // look for teachers of the selected slot and subject
                try {
                    let res = await fetch('/' + document.querySelector('body').getAttribute('data-domainName') + '/admin/get-teacher/' + document.querySelector('.coursesSelect' + courseCount).value + '/' + document.querySelector('input[name="subjects[subject' + subNo + '][slot]"]:checked').value + '/garbage');
                    res = await res.json();
                    createTeacherTable(res, tbody, subNo);
                } catch (err) {
                    console.log(err);
                }
            }
        }

        function getTeacher(self, subNo) {
            document.getElementById('selectedLabelTeacher').innerHTML = self.value;
            document.getElementById('timeLabelWrap' + courseCount).classList.add('d-none');
            if (self.value && !document.querySelector('input[name="subjects[subject' + subNo + '][slot]"]:checked')) {
                getTeacherByCourse(subNo)
            } else if (self.value) {
                getTeacherByCourseAndSlot(subNo)
            }
        }
    </script>

    <!-- Check for Teachers of particular subject and slot -->
    <script>

        async function getTeacherByCourseAndTime(self, subNo) {
            if (document.querySelector('.coursesSelect' + subNo).value && self.value != '') {
                document.getElementById('selectedLabelTeacher').innerHTML = document.querySelector('.coursesSelect' + subNo).value;
                document.getElementById('timeSlot').innerHTML = self.value
                document.getElementById('timeLabelWrap' + subNo).classList.remove('d-none');

                // clear teachers table
                let tbody = document.getElementById('teachersTable' + subNo);
                while (tbody.firstChild) {
                    tbody.removeChild(tbody.firstChild);
                }
                // look for teachers of the selected slot and subject
                try {
                    let res = await fetch('/' + document.querySelector('body').getAttribute('data-domainName') + '/admin/get-teacher/' + document.querySelector('.coursesSelect' + subNo).value + '/' + self.value + '/garbage');
                    res = await res.json();
                    createTeacherTable(res, tbody, subNo);
                } catch (err) {
                    console.log(err);
                }
            }
        }

    </script>





    <!-- Select 2 Js -->
    <script src="/js/select2.min.js"></script>
    <!-- Date Picker Js -->
    <script src="/js/datepicker.min.js"></script>