<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home - Online Courses &amp; Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/banner-01.png">

    <!-- CSS
        ============================================ -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/plugins/sal.css">
    <!-- <link rel="stylesheet" href="/assets/css/plugins/feather.css"> -->
    <link rel="stylesheet" href="/assets/css/plugins/fontawesome.min.css">
    <!-- <link rel="stylesheet" href="/assets/css/plugins/euclid-circulara.css"> -->
    <link rel="stylesheet" href="/assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnify.css">
    <link rel="stylesheet" href="/assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="/assets/css/plugins/animation.css">
    <link rel="stylesheet" href="/assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <style>
        /* Style for the select element */
        .selectEl {
            /* Change the font family and size */
            font-family: Arial, sans-serif !important;
            font-size: 16px !important;
            /* Remove the default styling */
            appearance: none !important;
            -webkit-appearance: none !important;
            /* Add some padding and border */
            padding: 8px !important;
            border: 1px solid #ccc !important;
            border-radius: 4px !important;
            /* Add a background color and a custom arrow */
            background-color: #fff !important;
            background-image: url("path/to/custom-arrow.svg") !important;
            background-repeat: no-repeat !important;
            background-position: right center !important;
        }

        /* Style for the dropdown arrow */
        .selectEl::-ms-expand {
            display: none !important;
        }

        /* Style for the dropdown options */
        .selectEl option {
            /* Change the font family and size */
            font-family: Arial, sans-serif !important;
            font-size: 16px !important;
            /* Add some padding */
            padding: 8px !important;
            /* Change the background color when selected */
            background-color: #eee !important;
        }

        /* Style for the dropdown when it's open */
        .selectEl:focus {
            /* Change the border color */
            border-color: #007bff !important;
            /* Add a box shadow */
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25) !important;
            outline: none !important;
        }
    </style>
</head>

<body class="p-5">
    <h1 class="title p-3">Register</h1>
    <form class="col-lg-12 d-flex flex-wrap">
        <div style="z-index: unset !important;"
            class="col-12 col-lg-6 col-sm-12 rbt-contact-form contact-form-style-1 max-width-auto shadow-none">
            <h5 class="title text-center">Basic Information</h5>
            <div class="max-width-auto">
                <div class="form-group">
                    <input name="fullName" type="text">
                    <label>Full Name</label>
                    <span class="focus-border"></span>
                </div>
                <div class="form-group">
                    <input name="fatherName" type="text">
                    <label>Father Name</label>
                    <span class="focus-border"></span>
                </div>

                <div class="form-group">
                    <input name="register_conpassword" type="password">
                    <label>Confirm Password</label>
                    <span class="focus-border"></span>
                </div>

            </div>
        </div>
        <div style="z-index: unset !important;"
            class="col-12 col-lg-6 col-sm-12 rbt-contact-form contact-form-style-1 max-width-auto shadow-none">
            <h5 class="title text-center">Contact Information</h5>
            <div class="max-width-auto">
                <div class="form-group">
                    <input name="contact[email]" type="text">
                    <label>Email address</label>
                    <span class="focus-border"></span>
                </div>

                <div class="form-group">
                    <input name="contact[phoneNo]" type="number">
                    <label>Phone Number</label>
                    <span class="focus-border"></span>
                </div>

                <div class="form-group">
                    <input name="contact[address][streetAddress]" type="text">
                    <label>Full Address(<small>street, district, province</small>)</label>
                    <span class="focus-border"></span>
                </div>

            </div>


            <div class="d-flex justify-content-between">
                <div class="form-group d-flex flex-column">
                    <div for="country">Country</div>
                    <select name="contact[address][country]" class="form-control selectEl" id="country">
                        <option selected="">Afghanistan</option>
                        <option>Pakistan
                        </option>
                    </select>
                </div>
                <div class="d-flex flex-column justify-content-end">
                    <label class="dob-input d-flex align-items-center pr-5">Date
                        of
                        Birth</label>
                    <div class="d-sm-flex d-block ml-5">
                        <div class="form-group mr-1">
                            <select name="DOB[]" class="form-control selectEl" id="bornDay">
                                <option>Day</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option selected="">20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                            </select>
                        </div>
                        <div class="form-group mr-1">
                            <select name="DOB[]" class="form-control selectEl" id="bornMonth">
                                <option>Month</option>
                                <option selected="">Jan</option>
                                <option>Feb</option>
                                <option>Mar</option>
                                <option>Apr</option>
                                <option>May</option>
                                <option>Jun</option>
                                <option>Jul</option>
                                <option>Aug</option>
                                <option>Sep</option>
                                <option>Oct</option>
                                <option>Nov</option>
                                <option>Dec</option>
                            </select>
                        </div>
                        <div class="form-group mr-1">
                            <select name="DOB[]" class="form-control selectEl" id="BornYear">
                                <option>Year</option>
                                <option>2029</option>
                                <option>2028</option>
                                <option>2027</option>
                                <option>2026</option>
                                <option>2025</option>
                                <option>2024</option>
                                <option>2023</option>
                                <option>2022</option>
                                <option>2021</option>
                                <option>2020</option>
                                <option>2019</option>
                                <option>2018</option>
                                <option>2017</option>
                                <option>2016</option>
                                <option>2015</option>
                                <option>2014</option>
                                <option>2013</option>
                                <option>2012</option>
                                <option>2011</option>
                                <option>2010</option>
                                <option>2009</option>
                                <option>2008</option>
                                <option>2007</option>
                                <option>2006</option>
                                <option>2005</option>
                                <option>2004</option>
                                <option>2003</option>
                                <option>2002</option>
                                <option>2001</option>
                                <option>2000</option>
                                <option>1999</option>
                                <option>1998</option>
                                <option>1997</option>
                                <option>1996</option>
                                <option>1995</option>
                                <option>1994</option>
                                <option>1993</option>
                                <option>1992</option>
                                <option>1991</option>
                                <option>1990</option>
                                <option selected="">1989</option>
                                <option>1988</option>
                                <option>1987</option>
                                <option>1986</option>
                                <option>1985</option>
                                <option>1984</option>
                                <option>1983</option>
                                <option>1982</option>
                                <option>1981</option>
                                <option>1980</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div style="z-index: unset !important;"
            class="col-12 rbt-contact-form contact-form-style-1 max-width-auto shadow-none">
            <h5 class="title text-center">Education Information</h5>
            <div class="max-width-auto">

                <div class="form-group">
                    <input name="education[school][name]" type="number">
                    <label>Enter School name(<small>if any</small>)</label>
                    <span class="focus-border"></span>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div>School Starting year</div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <select name="education[school][start]" class="form-control mb-4 selectEl"
                                            id="s-from1">
                                            <option>Year
                                            </option>
                                            <option>2029
                                            </option>
                                            <option>2028
                                            </option>
                                            <option>2027
                                            </option>
                                            <option>2026
                                            </option>
                                            <option>2025
                                            </option>
                                            <option>2024
                                            </option>
                                            <option>2023
                                            </option>
                                            <option>2022
                                            </option>
                                            <option>2021
                                            </option>
                                            <option>2020
                                            </option>
                                            <option>2019
                                            </option>
                                            <option>2018
                                            </option>
                                            <option>2017
                                            </option>
                                            <option>2016
                                            </option>
                                            <option>2015
                                            </option>
                                            <option>2014
                                            </option>
                                            <option>2013
                                            </option>
                                            <option>2012
                                            </option>
                                            <option>2011
                                            </option>
                                            <option>2010
                                            </option>
                                            <option>2009
                                            </option>
                                            <option>2008
                                            </option>
                                            <option>2007
                                            </option>
                                            <option>2006
                                            </option>
                                            <option>2005
                                            </option>
                                            <option>2004
                                            </option>
                                            <option>2003
                                            </option>
                                            <option>2002
                                            </option>
                                            <option>2001
                                            </option>
                                            <option>2000
                                            </option>
                                            <option>1999
                                            </option>
                                            <option>1998
                                            </option>
                                            <option>1997
                                            </option>
                                            <option>1996
                                            </option>
                                            <option>1995
                                            </option>
                                            <option>1994
                                            </option>
                                            <option>1993
                                            </option>
                                            <option>1992
                                            </option>
                                            <option>1991
                                            </option>
                                            <option>1990
                                            </option>
                                        </select>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div>School Ending year</div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <select name="education[school][end]" class="form-control input-sm selectEl"
                                            id="end-in1">
                                            <option>Year
                                            </option>
                                            <option>2029
                                            </option>
                                            <option>2028
                                            </option>
                                            <option>2027
                                            </option>
                                            <option>2026
                                            </option>
                                            <option>2025
                                            </option>
                                            <option>2024
                                            </option>
                                            <option>2023
                                            </option>
                                            <option>2022
                                            </option>
                                            <option>2021
                                            </option>
                                            <option>2020
                                            </option>
                                            <option>2019
                                            </option>
                                            <option>2018
                                            </option>
                                            <option>2017
                                            </option>
                                            <option>2016
                                            </option>
                                            <option>2015
                                            </option>
                                            <option>2014
                                            </option>
                                            <option>2013
                                            </option>
                                            <option>2012
                                            </option>
                                            <option>2011
                                            </option>
                                            <option>2010
                                            </option>
                                            <option>2009
                                            </option>
                                            <option>2008
                                            </option>
                                            <option>2007
                                            </option>
                                            <option>2006
                                            </option>
                                            <option>2005
                                            </option>
                                            <option>2004
                                            </option>
                                            <option>2003
                                            </option>
                                            <option>2002
                                            </option>
                                            <option>2001
                                            </option>
                                            <option>2000
                                            </option>
                                            <option>1999
                                            </option>
                                            <option>1998
                                            </option>
                                            <option>1997
                                            </option>
                                            <option>1996
                                            </option>
                                            <option>1995
                                            </option>
                                            <option>1994
                                            </option>
                                            <option>1993
                                            </option>
                                            <option>1992
                                            </option>
                                            <option>1991
                                            </option>
                                            <option>1990
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>


        <div class="d-flex flex-column align-items-end col-12">

            <div class="form-group col-6">
                <input name="register_user" type="text">
                <label>Username</label>
                <span class="focus-border"></span>
            </div>

            <div class="form-group col-6">
                <input name="register_password" type="password">
                <label>Password</label>
                <span class="focus-border"></span>
            </div>
        </div>



        <div class="d-flex justify-content-end col-12">
            <div class="form-submit-group w-50 d-flex justify-content-end justify-content-sm-center">
                <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">Register</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                    </span>
                </button>
            </div>
        </div>
    </form>




    <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script src="/assets/js/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="/assets/js/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- sal.js -->
    <script src="/assets/js/sal.js"></script>
    <script src="/assets/js/swiper.js"></script>
    <script src="/assets/js/magnify.min.js"></script>
    <script src="/assets/js/jquery-appear.js"></script>
    <script src="/assets/js/odometer.js"></script>
    <!-- <script src="/assets/js/backtotop.js"></script> -->
    <script src="/assets/js/isotop.js"></script>
    <script src="/assets/js/imageloaded.js"></script>

    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/waypoint.min.js"></script>
    <script src="/assets/js/easypie.js"></script>
    <script src="/assets/js/text-type.js"></script>
    <script src="/assets/js/jquery-one-page-nav.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="/assets/js/jquery-ui.js"></script>
    <script src="/assets/js/magnify-popup.min.js"></script>
    <script src="/assets/js/paralax-scroll.js"></script>
    <!-- <script src="/assets/js/paralax.min.js"></script> -->
    <script src="/assets/js/countdown.js"></script>
    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

    <!-- add required to inputs -->
    <script>
        for (let input of document.querySelectorAll('input')) {
            input.setAttribute('required', '');
        }
    </script>
</body>

</html>